:root {
  /*** COLORS ************************************************************************************/
  /*https://colorhunt.co/palette/f4fcd9c5d8a4bb9981534340*/
  --palette-1: #f4fcd9;
  --palette-2: #c5d8a4;
  --palette-3: #bb9981;
  --palette-4: #534340;

  --main-bg-color: var(--palette-1);
  --card-bg-color: var(--palette-2);
  --main-font-color: var(--palette-4);

  /*** DIMENSIONS ********************************************************************************/
  --card-size-phone: calc(100%-calc(var(--document-padding) * 2));
  --card-size-normal-screen: 30em;
  --card-size-wide-screen: 40em;
  --document-padding: 1em;

  --h1-font-size: 2em;

  /*** FONTS *************************************************************************************/
  --main-font: Verdana;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  padding: var(--document-padding);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials {
  border-radius: 20px;
  background-color: var(--palette-3);
  display: flex;
  padding: 1em;
  width: calc(var(--h1-font-size)*3);
  justify-content: space-around;
  transition: all 0.3s ease-out;
  position: absolute;
  top: 3em;
  right: 20px;
}

.socials:hover {
  border-radius: 2px;
}

.social {
  height: var(--h1-font-size);
  width: var(--h1-font-size);
}

.socials a:not(.custom-link) {
  color: var(--main-font-color);
  transition: all 0.3s ease-out;
}

.socials a:not(.custom-link):hover {
  filter: invert(100%) hue-rotate(180deg);
  color: var(--palette-3);
}